
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Quicksand,sans-serif;
  overflow-x: hidden;
}

.header-css {
  justify-content: space-between;
}
.text-1xl {
  font-size: 1.3rem;
  line-height: 2rem;
}
.h-\[2500px\] {
  height: 362px;
}
.w-20 {
  width: 6.5rem;
}
.h-20 {
  height: 6.5rem;
}
.w-10 {
  width: 5.5rem;
}
.h-10 {
  height: 5.5rem;
}
.w-\[45\%\] {
  width:45%
}
@font-face {
  font-family: 'Quicksand';
  src: url('../public/assets/fonts/Quicksand-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;  
}

body{
  font-family: "Quicksand", sans-serif;
}